/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.keyword {
    white-space:nowrap;
    display: inline-block;
    background-color: #ddd;
    /* background-color: #f0f0f4; */
    /* background-color: #f7f7f9; */
    padding-right: 0.5em;
    margin: 0 0.8em 0.45em 0;
}
.keyword > .vocabful-colour-edge {
    display: inline-block;
    width: 7px;
    margin-right: 2px;
  }
.keyword > .vocabless-colour-edge {
    display: inline-block;
    width: 0;
    margin-right: 0.15em;
  }