/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.asset-image {
    -webkit-filter: drop-shadow(5px 5px 5px #666);
    filter: drop-shadow(5px 5px 5px #666);
    margin-bottom:2em;
    margin-right:2em;
}

.keyword {
    white-space:nowrap;
    display: inline-block;
    background-color: #ddd;
    /* background-color: #f0f0f4; */
    /* background-color: #f7f7f9; */
    padding-right: 0.5em;
    margin: 0 0.8em 0.45em 0;
}
.keyword > .vocabful-colour-edge {
    display: inline-block;
    width: 7px;
    margin-right: 2px;
  }
.keyword > .vocabless-colour-edge {
    display: inline-block;
    width: 0;
    margin-right: 0.15em;
  }





  .module .collapse, .module .collapsing {
    height: 7.8em;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
  }
  
  .module .collapse {
    position: relative;  /* For ...'s content absolute positioning */
    display: block;
    overflow: hidden;
  }
  
  .module .collapse:before {
    content: ' ...';
    position: absolute;
    right: 0;
    bottom: -0.5em;
  }
  
  .module .collapse.show {
    height: auto;  /* reset the height when not collapsed */
  }
  
  .module .collapse.show:before {
    display: none;  /* don't want to display ... */
  }
  
  .module a.collapsed:after {
    content: '+ Show more';
  }
  
  .module a:not(.collapsed):after {
    content: '- Show less';
  }
