@page
@model dynamic
@{
    ViewData["Title"] = "About";
}
@{ ViewBag.CurrentPage = "About"; }

<h1 style="font-size: 300%">
    <i class="fas fa-question-circle"></i>
    About
</h1>

<p>The Resource Hub is where you can find open datasets, publications and archived JNCC data assets.</p>
