@page
@model dynamic
@{
    ViewData["Title"] = "About";
}

<h1 style="font-size: 300%">
    <i class="fas fa-question-circle"></i>
    About
</h1>

<p>The Datahub is where you can find open datasets, publications and archived JNCC data assets.</p>