@page
@model dynamic
@{
    ViewData["Title"] = "About";
}
@{ ViewBag.CurrentPage = "About"; }

<div class="container">

<br />
<h1>
    About JNCC
</h1>

<p>JNCC is the public body that advises the UK Government and devolved administrations on UK-wide and international nature conservation. We provide evidence, information and advice so that decisions are made that protect natural resources and systems. We work on nature conservation issues that affect the UK and internationally.</p>
<br />
<p>Visit the <a href="https://jncc.gov.uk/about-jncc/">JNCC website</a> for more information.</p>
<br />
<br />
<br />
<br />
<br />
<br />
    
</div>
