@page
@model dynamic
@{
    ViewData["Title"] = "About";
}
@{ ViewBag.CurrentPage = "About"; }

<div class="container">

<br />
<h1>
    About
</h1>

<p>The JNCC Resource Hub is where you can find Open Data datasets, publications and archived JNCC data assets.</p>
<br />
<br />

</div>
