@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1 style="font-size: 300%">
    <i class="fas fa-envelope"></i>
    Contact
</h1>

<h3>Please get in touch with us.</h3>

<address>
    Joint Nature Conservation Committee<br />
    Monkstone House<br />
    City Road<br />
    Peterborough<br />
    PE1 1JY<br />
    <abbr title="Phone">P:</abbr>
    (+44) (0)1733 562626
</address>

<address>
    <strong>Data:</strong> <a href="mailto:data@jncc.gov.uk">data@jncc.gov.uk</a><br />
    <strong>Comment:</strong> <a href="mailto:comment@jncc.gov.uk">comment@jncc.gov.uk</a>
</address>
