@page
@model dynamic
@{
    ViewData["Title"] = "A page";
}
@functions {
    public static string GetSomething(string s) {
        return s;
    }
}

<h1 class="display-5 mb-4">
    Hello
</h1>

<p>
    This is a page.
</p>

