@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
}

<h1 class="display-5 mb-4">
    <span style="color: rgba(77, 219, 58, 1);">
        <i class="fas fa-search"></i>
    </span>
    Search
</h1>
<div>
    @using (Html.BeginForm("Submit", "search", FormMethod.Get, new { q = Model.QueryString }))
    {
    <div class="input-group mb-5">
        <input type="text" class="form-control" placeholder="Search the Datahub" autofocus aria-label="Search the Datahub" value="@Model.QueryString" name="q">
        <div class="input-group-append">
            <button class="btn btn-success px-4" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    }
</div>

@if (Model.Results != null && Model.Results.Total > 0)
{
    <div class="mb-4">
        <!--card card-body bg-light -->
        <p><span class="mr-1">Found @(Model.Results.Total) results</span></p>
    </div>

    @foreach (var r in Model.Results.Hits.ToList())
    {
        @await Html.PartialAsync("_SearchResult", r)
    }
}
