
@model Nest.IHit<Datahub.Web.Models.SearchResult>
@using Datahub.Web.Pages.Helpers

<h5 class="display-5">
    <a href="/assets/@(Model.Id)">@(Model.Source.Title)</a>
</h5>
@foreach (var h in Model.Highlights.ToList())
{
    @foreach (var s in h.Value.Highlights)
    {
    <p>@(Html.Raw(s))</p>
    }
}

